.App {
  text-align: center;
  width: 350px;
  background-color: black;
  color: white;
  padding: 20px;
  margin: 70px 400px;
}

.results{
  background-color: white;
  color: black;
  border-radius: 10px;
   /* margin:50px;  */
  /* padding: 30px; */
}

.buttons{
  display: flex;
  flex-direction: column;
  
}
.perbutton{
  padding: 20px;
  border-radius: 10px;
  text-shadow: none;
}